{% extends 'Usuario/base/base.html' %} 

{% block content %}
<div>
    <h1 style="font-size:xx-large; text-align: center">Crear cuenta</h1>
    <div id="slideshowWrapper">
        <div class="content container">
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
            <div id="slideshowWrapper">
                <ul id="slideshow">
                    <button type="submit">GRABAR</button>
                </ul>
            </div>    
            </form>
        </div>
    </div>
    
</div>
{% endblock %}
