{% extends 'base.html' %}

{% load static %}

{% block title %}MasterBikes{% endblock title %}

{% block content %} 
    <h2>Home</h2>
    {% if user.is_authenticated %}
        <img src="{% static 'images/homeSite.png' %}" alt="home">
        <p>You are welcome on Home Page</p>
        <p>Your name is - {{user.first_name}} {{user.last_name}}</p>
        <p>Your email is - {{user.email}}</p>
        <br><br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>

        <div></div>

        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ejemplo de tabla avanzada</title>
</head>

<body>

<h1>catologo</h1>

<table summary="Tabla con los datos de los resultados de la búsqueda">
  <caption>Resultado de la búsqueda</caption>
  <tr>
    <th abbr="Imagen del producto" scope="col">Imagen</th>
    <th abbr="Datos del producto" scope="col">Datos</th>
  </tr>

  <tr>
    <td>
      <img src="" alt="Imagen del ordenador portátil" />
    </td>
    <td>
      <h4><a href="#" title="Ver más información sobre el portátil">Portátil - 3 GHz - 4 GB RAM</a></h4>
      <p><a href="#" title="Comprar el portátil">Comprar:</a> <del>2.990 &euro;</del> <strong>2.599 &euro;</strong></p>
    </td>
  </tr>

  <tr>
    <td><img src="" alt="Imagen de la videocámara" /></td>
    <td>
      <h4><a href="#" title="Ver más información sobre la videocámara">Videocámara - Alta definición 1080p - 60 GB</a></h4>
      <p><a href="#" title="Comprar la videocámara">Comprar:</a> <del>1.099 &euro;</del> <strong>999 &euro;</strong></p>
    </td>
  </tr>

  <tr>
    <td><img src="" alt="Imagen del televisor" /></td>
    <td>
      <h4><a href="#" title="Ver más información sobre el televisor">Televisor - 46" - Full HD</a></h4>
      <p><a href="#" title="Comprar el televisor">Comprar:</a> <del>1.999 &euro;</del> <strong>1.799 &euro;</strong></p>
    </td>
  </tr>

  <tr>
    <td><img src="" alt="Imagen del móvil" /></td>
    <td>
      <h4><a href="#" title="Ver más información sobre el móvil">Móvil - 3G - Wi-Fi - 8 GB</a></h4>
      <p><a href="#" title="Comprar el móvil">Comprar:</a> <del>399 &euro;</del> <strong>349 &euro;</strong></p>
    </td>
  </tr>
</table>

</body>

</html>
    {% endif %}
{% endblock content %}
