{% extends 'base.html' %}

{% load static %}

{% block title %}MasterBikes{% endblock title %}

{% block content %} 
    <h2>Home</h2>
    {% if user.is_authenticated %}
        <img src="{% static 'images/homeSite.png' %}" alt="home">
        <p>You are welcome on Home Page</p>
        <p>Your name is - {{user.first_name}} {{user.last_name}}</p>
        <p>Your email is - {{user.email}}</p>
        <br><br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>

        <div></div>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ejemplo de tabla avanzada</title>
</head>

<body>

<h1>catologo de producto</h1>

<table summary="Tabla con los datos de los resultados de la búsqueda">
  <caption></caption>
  <tr>
    <th abbr="Imagen del producto" scope="col">Imagen</th>
    <th abbr="Datos del producto" scope="col">Datos</th>
  </tr>

  <tr>
    <td>
      <img src="static/images/img/bicicleta 1.png" width="130" height="130"  alt="Imagen" />
    </td>
    <td>
      <h4><a href="aqui va link del producto" title="Ver más información">Alaska  </a></h4>
      <p>SKU:MPM00001972314</p>
      <p>comprar por $160.000</p>
    </td>
  </tr>

  <tr>
    <td><img src="static/images/img/bicicleta2.png" width="130" height="130" alt="Imagen" /></td>
    <td>
        <h4><a href="aqui va link del producto" title="Ver más información">Bicicleta Ruta Milano 1.V
        </a></h4>
        <p>SKU:MPM000019567</p>
        <p>comprar por $300.000</p>
    </td>
  </tr>

  <tr>
    <td><img src="static/images/img/bicicleta3.png" width="130" height="130"alt="Imagen" /></td>
    <td>
        <h4><a href="aqui va link del producto" title="Ver más información">Bicicleta Caspio 2 Aro 27,5
        </a></h4>
        <p>SKU:MPM8UR6R66R6</p>
        <p>comprar por $101.000</p>
    </td>
  </tr>

  <tr>
    <td><img src="static/images/img/bicicleta4.png" width="130" height="130"alt="Imagen" /></td>
    <td>
        <h4><a href="aqui va link del producto" title="Ver más información">Bicicleta Yerka 3 Velocidades Negro Talla 54
        </a></h4>
        <p>SKU:MP4949499555</p>
        <p>comprar por $371.000</p>
    </td>
  </tr>
</table>

</body>

</html>
    {% endif %}
{% endblock content %}
